html{
    background-image: url(Assets/WebBackground.png);
    background-size: 1200px;
    background-position: center;
    background-attachment: fixed;
    
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

/*----------------------------------------------------------------*/

tableBackground{
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    padding-left: 100%;
    padding-top: 100px;
    position: relative; top: 80px; left: -3px;
    backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: whitesmoke;
}

webName{
    font-size: 70px;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    position: absolute; top: 25px;
}

#webIcon{
    height: 70px; width: 70px;
    position: relative; top: -10px;
    padding-top: 10px;
}

#menuThumbs{
    height: 40px; width: 40px;
    padding-right: 10px;
    position: relative; top: 5px;
}

tableContent{
    display: flex; justify-content: flex-end;
    position: relative; top: -70px;
}

#mediaLinks{
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------------*/

#animeButton{
    height: 32vmin;
    width: 42vmax;

    display: block;
    margin: 0 auto;

    margin-top: -25px;

    border-radius: 50px;
    border-color: blueviolet;
    border-width: 0.5vmax;

    background-image: url(Assets/Anime/wp7992445.jpg);
    background-size: cover;
    
    font-size: 4vmax;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    text-shadow: 2px 2px 2px black;
}

#movieButton{
    height: 32vmin;
    width: 42vmax;

    display: block;
    margin: 0 auto;

    margin-top: 15px;

    border-radius: 50px;
    border-color: blueviolet;
    border-width: 0.5vmax;

    background-image: url(Assets/MoviesShows/john-wick-rain-4k-3r.jpg);
    background-size: cover;
    
    font-size: 4vmax;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    text-shadow: 2px 2px 2px black;
}


