html{
    background-image: url(Assets/Sable\ Softwares.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

webName{
    font-size: 70px;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
}

#webIcon{
    height: 70px; width: 70px;
    position: relative; top: 10px;
    padding-top: 10px;
}

#menuThumbs{
    height: 40px; width: 40px;
    padding-right: 10px;
}

tableContent{
    display: flex; justify-content: flex-end;
    position: relative; top: -70px;
}

#mediaLinks{
    display: flex;
    justify-content: center;
}
